.App {
  text-align: center;
  height: 100vh;
}

.theme__mode {
  height: 100vh;
}

.theme__mode.darkTheme {
  background-color: #000;
  color: #fff;
}

.theme__mode.lightTheme {
  background-color: #0A5;
  color: #000;
}