@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap');

:root {
  --theme-font: 'Bai Jamjuree', sans-serif;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(220deg 17.65% 96.67%);
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

body {
  min-height: 100vh;
  font-size: 18px;
  font-family: var(--theme-font);
}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%;
}

.theme__clipboard {
  min-height: 100vh;
}

.theme__clipboard img {
  max-width: 100%;
}

/*Header*/
.theme__clipboard #header {
  background-image: url(../public/img/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.theme__clipboard #header .header__content .img {
  margin-top: 120px;
  margin-bottom: 50px;
}

.theme__clipboard #header .header__content .headline span {
  font-size: 40px;
  font-weight: 600;
}

.theme__clipboard.lightTheme #header .header__content .headline span {
  color: var(--dark-grayish-blue);
}

.theme__clipboard.darkTheme #header .header__content .headline span {
  color: var(--white);
}

.theme__clipboard #header .header__content .headline p {
  margin-top: 16px;
}

.theme__clipboard.lightTheme #header .header__content .headline p {
  color: var(--grayish-blue);
}

.theme__clipboard.darkTheme #header .header__content .headline p {
  color: var(--white);
}

.theme__clipboard #header .header__content .download {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.theme__clipboard #header .header__content .download .btn.btn-success {
  background-color: var(--strong-cyan);
  border-color: var(--strong-cyan);
  border-radius: 30px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 30px;
}

.theme__clipboard #header .header__content .download .btn.btn-primary {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  border-radius: 30px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 30px;
}

.theme__clipboard #header .theme__select {
  margin-top: 20px;
  margin-bottom: 20px;
}

.theme__clipboard #header .theme__select .btn.btn-danger{
  border-radius: 100%;
  padding: 0;
}

.theme__clipboard #header .theme__select .theme-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.theme__clipboard.lightTheme #header .theme__select .theme-icon:before {
  content: url(../public/img/moon_icon.png);
}

.theme__clipboard.darkTheme #header .theme__select .theme-icon:before {
  content: url(../public/img/sun_icon.png);
}
/*Header*/

/*Main*/
.theme__clipboard #main .keep__snippets {
  margin-top: 50px;
}

.theme__clipboard #main .keep__snippets .headline {
  text-align: center;
}

.theme__clipboard #main .keep__snippets .headline span {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .keep__snippets .headline span {
  color: var(--dark-grayish-blue);
}

.theme__clipboard.darkTheme #main .keep__snippets .headline span {
  color: var(--white);
}

.theme__clipboard #main .keep__snippets .headline p {
  margin-top: 16px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .keep__snippets .headline p {
  color: var(--grayish-blue);
}

.theme__clipboard.darkTheme #main .keep__snippets .headline p {
  color: var(--white);
}

.theme__clipboard #main .keep__snippets .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 60px;
}

.theme__clipboard #main .keep__snippets .content .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  text-align: start;
}

.theme__clipboard #main .keep__snippets .content .text .text-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.theme__clipboard #main .keep__snippets .content .text .text-child span {
  font-size: 20px;
  font-weight: 600;
}

.theme__clipboard.lightTheme #main .keep__snippets .content .text .text-child span {
  color: var(--dark-grayish-blue);
}

.theme__clipboard.darkTheme #main .keep__snippets .content .text .text-child span {
  color: var(--white);
}

.theme__clipboard.lightTheme #main .keep__snippets .content .text .text-child p {
  color: var(--grayish-blue);
}

.theme__clipboard.darkTheme #main .keep__snippets .content .text .text-child p {
  color: var(--white);
}

.theme__clipboard #main .access__clipboard {
  margin-top: 90px;
}

.theme__clipboard #main .access__clipboard .headline {
  text-align: center;
}

.theme__clipboard #main .access__clipboard .headline span {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .access__clipboard .headline span {
  color: var(--dark-grayish-blue);
}

.theme__clipboard.darkTheme #main .access__clipboard .headline span {
  color: var(--white);
}

.theme__clipboard #main .access__clipboard .headline p {
  margin-top: 16px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .access__clipboard .headline p {
  color: var(--grayish-blue);
}

.theme__clipboard.darkTheme #main .access__clipboard .headline p {
  color: var(--white);
}

.theme__clipboard #main .access__clipboard .content {
  text-align: center;
  margin-top: 80px;
}

.theme__clipboard #main .supercharge__workflow {
  margin-top: 40px;
}

.theme__clipboard #main .supercharge__workflow .headline {
  text-align: center;
}

.theme__clipboard #main .supercharge__workflow .headline span {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .supercharge__workflow .headline span {
  color: var(--dark-grayish-blue);
}

.theme__clipboard.darkTheme #main .supercharge__workflow .headline span {
  color: var(--white);
}

.theme__clipboard #main .supercharge__workflow .headline p {
  margin-top: 16px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .supercharge__workflow .headline p {
  color: var(--grayish-blue);
}

.theme__clipboard.darkTheme #main .supercharge__workflow .headline p {
  color: var(--white);
}

.theme__clipboard #main .supercharge__workflow .content {
  margin-top: 60px;
}

.theme__clipboard #main .supercharge__workflow .content .detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.theme__clipboard #main .supercharge__workflow .content .detail .detail-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme__clipboard.darkTheme #main .supercharge__workflow .content .detail .detail-child img {
  filter: brightness(0) invert(1);
}

.theme__clipboard #main .supercharge__workflow .content .detail .detail-child img {
  margin-bottom: 30px;
}

.theme__clipboard #main .supercharge__workflow .content .detail .detail-child span {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .supercharge__workflow .content .detail .detail-child span {
  color: var(--dark-grayish-blue);
}

.theme__clipboard.darkTheme #main .supercharge__workflow .content .detail .detail-child span {
  color: var(--white);
}

.theme__clipboard #main .supercharge__workflow .content .detail .detail-child p {
  margin-top: 16px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .supercharge__workflow .content .detail .detail-child p {
  color: var(--grayish-blue);
}

.theme__clipboard.darkTheme #main .supercharge__workflow .content .detail .detail-child p {
  color: var(--white);
}

.theme__clipboard #main .brands {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.theme__clipboard.darkTheme #main .brands .brand-content img {
  filter: brightness(0) invert(1);
}

.theme__clipboard #main .download {
  margin-top: 150px;
  margin-bottom: 100px;
}

.theme__clipboard #main .download .headline {
  text-align: center;
}

.theme__clipboard #main .download .headline span {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .download .headline span {
  color: var(--dark-grayish-blue);
}

.theme__clipboard.darkTheme #main .download .headline span {
  color: var(--white);
}

.theme__clipboard #main .download .headline p {
  margin-top: 16px;
  text-align: center;
}

.theme__clipboard.lightTheme #main .download .headline p {
  color: var(--grayish-blue);
}

.theme__clipboard.darkTheme #main .download .headline p {
  color: var(--white);
}

.theme__clipboard #main .download .download-btns {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.theme__clipboard #main .download .download-btns .btn.btn-success {
  background-color: var(--strong-cyan);
  border-color: var(--strong-cyan);
  border-radius: 30px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 30px;
}

.theme__clipboard #main .download .download-btns .btn.btn-primary {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  border-radius: 30px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 30px;
}

/*Main*/

/*Footer*/

.theme__clipboard #footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.theme__clipboard.lightTheme #footer {
  background-color: var(--gray);
  border-top: solid 1px var(--gray);
}

.theme__clipboard.darkTheme #footer {
  background-color: var(--black);
  border-top: solid 1px var(--white);
}

.theme__clipboard #footer .img img {
  width: 60px;
}

.theme__clipboard #footer .menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 15px;
}

.theme__clipboard #footer .menu span {
  text-align: left;
  cursor: pointer;
}

.theme__clipboard #footer .menu span:hover {
  color: var(--strong-cyan);
}

.theme__clipboard #footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.theme__clipboard #footer .social .social-child {
  cursor: pointer;
}

.theme__clipboard.darkTheme #footer .social .social-child img {
  filter: brightness(0) invert(1);
}


/*Footer*/

.theme__clipboard.darkTheme {
  background-color: var(--black);
  color: var(--white);
}

.theme__clipboard.lightTheme {
  background-color: var(--white);
  color: var(--black);
}

br.small {
  display: none;
}

br.large {
  display: block;
}

@media (min-width: 1200px) {  

}

@media (max-width: 991px) { 
    br.large {
        display: none;
    }
}

@media (max-width: 768px) { 
    br.small {
        display: block;
    }
    br.large {
        display: none;
    }
}

@media (max-width: 375px) { 

}